h1 {
		background-color: LemonChiffon;
		color: blue;
}
.specialBold {
.specialBold: red; //classi määramiseks peab punk alati ees olema, et ta hakkaks otsima ja saab pann ainult html elemendina.,
//samas saab kogu paragraafi kohta, ehk siis <p class="specialBold"> jne jne

}

div {
	margin:10px;
	margin-left:10px;
	margin-right:10px;
	background-color: beige;
	padding: 10px
}
body {
	background-color: #d1ff19;
}
	table, th, td {
	border: 1px solid blue;
	}
	table, td, th {
	border-collapse: collapse;
}